.items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.item,
.item__image-container,
.item__name,
.item__counter {
  margin-bottom: 20px;
}

.item {
  flex-basis: calc((100% - 60px) / 4);

  padding: 20px;

  border-radius: 4px;
  box-shadow: 1px 1px 8px rgba(51, 51, 51, 0.114);
  background-color: #fff;
  transition: all 300ms;
}

.item:hover {
  transform: scale(1.02);
}

.item__image-container {
  max-width: 350px;
}

.item__image {
  width: 100%;
  border-radius: 4px;
}

.item__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item__info-price {
  flex-basis: 50%;
}

.item__info-stock {
  flex-basis: 50%;
}